<div id= "form">
    <h2>Sign up</h2>
    <form action="/signup" method="POST">
    <label> Username

        <input type_"text" name="username" placeholder="username"/>

    </label>
    <label>Password

        <input type="password" name="password" placeholder="*****"/>
    </label>
    
    <button type="submit">create account</button>
    </form>
</div>